<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
		<style>
            
            body
{
  background-attachment: fixed;
  background-color:rgb(92, 156, 206);
  background-image: linear-gradient(white 2px, transparent 2px),
    linear-gradient(90deg, white 2px, transparent 2px),
    linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
  background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px

}
.container-fluid{
    width: 70%;
}
.card-link{
    color: crimson;
}
.panel-body{
    background-color: rgb(228, 228, 228);
    text-align: center;
    box-shadow: 10px 40px;
    border-bottom-style: ridge;
}
        </style>
        <script src="/assets/js/quizForm.js"></script>
        <title>Quiz</title>
	</head>
	<body>
		{{{body}}}
	</body>

</html>
