 <div class="container-fluid">
        <div class="jumbotron jumbotron-fluid text-center well">
            <div class="container">
                <h1 class="display-4">??????????</h1>
                <p class="lead">This project has no name!!</p>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-4">

                    <div class="card text-center" style="width: 18rem;">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Fitness</h5>
                            <p class="card-text">Talk about fitness quiz</p>
                            <div class="progress">
                                <div class="progress-bar bg-danger" style="width:70%"></div>
                            </div>
                            <a href="/quizForm" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card text-center" style="width: 18rem;">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Film</h5>
                            <p class="card-text">Talk about film quiz</p>
                            <div class="progress">
                                <div class="progress-bar bg-danger" style="width:70%"></div>
                            </div>
                            <a href="/quizForm" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card text-center" style="width: 18rem;">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Random</h5>
                            <p class="card-text">Talk about random quiz</p>
                            <div class="progress">
                                <div class="progress-bar bg-danger" style="width:70%"></div>
                            </div>
                            <a href="/quizForm" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
